# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/

# Django
*.log
db.sqlite3
*.sqlite3

# Environment variables
.env

# IDE
.vscode/
.idea/

# Static files
staticfiles/
media/tueh nmuhi vut bumr