{% extends 'base.html' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="page">
    <div class="card" style="max-width: 400px;"> <h1>כניסה למערכת</h1>
        <p style="color: #aaa; margin-bottom: 20px;">אנא הזן את פרטי ההתחברות שלך</p>

        <form method="post">
            {% csrf_token %}

            <div style="text-align: right;"> {{ form.as_p }}
            </div>

            <button type="submit" style="width: 100%; margin-top: 20px;">Login</button>
        </form>
    </div>
</div>
{% endblock %}